<form method="POST" id="form">
    <label>Title</label>
    <br>
    <input type="text" class="form-control" name="title" id="title" required>
    <br>
    <label>Body</label>
    <br>
    <textarea name="body" class="form-control" id="body" cols="30" rows="10" required></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>        
</form>